
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

.grid
{
    display: flex;
    flex-wrap: wrap;

    border: solid 1px;

    width: 600px;  /* 20 blocks of 30 px*/
    height: 600px;

    position: relative;
    top: -10px;
    left: 340px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.grid div
{
    width: 30px;
    height: 30px;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.player
{
    background-color: orangered;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.alien
{
    background-color: purple;
    border-radius: 10px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.boom
{
    background-color: red;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.laser
{
    background-color: limegreen;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
