

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
@font-face
{
    font-family: pixelFont;
    src: url("./font/PressStart2P-Regular.ttf");
}




/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
body
{
    /* background-color: #272638; */
    background-image: url("./tiles/0.gif");
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 1375px 760px;

    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

.grid
{
    display: flex;
    flex-wrap: wrap;

    /* border: solid 5px; */

    /* border-color: #99acd8; */

    width: 600px;  /* 20 blocks of 30 px*/
    height: 600px;

    position: relative;
    top: -27px;
    left: 340px;

    background-color: #272638;
    /* background-color: #551135; */
    /* background-color: #2d2c4e; */
    z-index: 1;

    


    /* background-image: url("./tiles/grid_frame.png"); */
}





/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.grid div
{
    width: 30px;
    height: 30px;
}


.g_border
{
    width: 642px ;  /* 20 blocks of 30 px*/
    height: 628px;

    position: relative;
    top: -649px;
    left: 322px;

    background-color: #272638;
    z-index: 0;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.controls
{
    font-family: pixelFont;

    color: #99acd8;

    position: relative;
    top: -1172px;
    left: 90px;
}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.instructions
{
    font-family: pixelFont;
    font-size: 18px;

    position: relative;
    top: -100px;
    left: 890px;
}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.score_class
{
    font-family: pixelFont;
    color: #d2dcf0;
}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.player
{
    background-image: url("./tiles/player_sprite.png");
    background-size: 62px;
    background-position-x: -16px;
    background-position-y: -22px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.alien
{
    /* background-color: purple; */
    color: white;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.boom
{
    background-color: red;
    background-image: url("./tiles/player_dead_sprite.png");
    background-size: 62px;
    background-position-x: -18px;
    background-position-y: -16px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.laser
{
    background-image: url("./tiles/player_shot.png");
    background-size: 62px;
    background-position-x: -18px;
    background-position-y: -16px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.enemy_laser
{
   
    background-image: url("./tiles/enemy_shot.png");
    background-size: 66px;
    background-position-x: -18px;
    background-position-y: -16px;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

.start_btn
{
    position: relative;
    font-family: pixelFont;

    top: 0px;
    left: -60px;

	box-shadow:inset 0px 1px 0px 0px #663ae0;
	background:linear-gradient(to bottom, #a12f6c 5%, #551135 100%);
	background-color:#a12f6c;
	border-radius:13px;
	border:1px solid #69177a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: pixelFont;
	font-size:16px;
	font-weight:bold;
	padding:20px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}

.start_btn:hover
{
	background:linear-gradient(to bottom, #551135 5%, #a12f6c 100%);
	background-color:#551135;
}

.start_btn:active
{
	position:relative;
	top:1px;
}

        


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.enemy_type_3
{
    background-image: url("./tiles/third_row_enemy_sprite.png");
    background-size: 62px;
    background-position-x: -18px;
    background-position-y: -16px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.enemy_type_2
{
    background-image: url("./tiles/second_row_enemy_sprite.png");
    background-size: 63px;
    background-position-x: -18px;
    background-position-y: -16px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.enemy_type_1
{
    background-image: url("./tiles/first_row_enemy_sprite.png");
    background-size: 60px;
    background-position-x: -15px;
    background-position-y: -13px;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.treasure
{
    background-image: url("./tiles/treasure.png");
    background-size: 60px;
    background-position-x: -15px;
    background-position-y: -18px;
    color: #272638;
}



