

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
@font-face
{
    font-family: pixelFont;
    src: url("./font/PressStart2P-Regular.ttf");
}




/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
body
{
    /* background-image: url(""); */

    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

.grid
{
    display: flex;
    flex-wrap: wrap;

    border: solid 1px;

    width: 600px;  /* 20 blocks of 30 px*/
    height: 600px;

    position: relative;
    top: -10px;
    left: 340px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.grid div
{
    width: 30px;
    height: 30px;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.controls
{
    font-family: pixelFont;
    position: relative;
    top: -470px;
    left: 90px;
}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.instructions
{
    font-family: pixelFont;
    font-size: 16px;

    position: relative;
    top: 42px;
    left: -85px;
}








/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.score_class
{
    font-family: pixelFont;
}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.player
{
    background-color: orangered;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.alien
{
    /* background-color: purple; */
    border-radius: 10px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.boom
{
    background-color: red;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.laser
{
    background-color: limegreen;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.enemy_laser
{
    background-color: violet;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.start_btn
{
    position: relative;
    font-family: pixelFont;

    top: 0px;
    left: 0px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.enemy_type_3
{
    background-color: red;
    border-radius: 10px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.enemy_type_2
{
    background-color: green;
    border-radius: 10px;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.enemy_type_1
{
    background-color: blue;
    border-radius: 10px;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
